/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/02/2019, 16:09:40
    Author     : Jonathan
*/

*{
    margin:0px;
    padding:0px;
}
body{
    background: url("../images/bg_1366.jpg") no-repeat fixed center; 
    width:100%;
}


@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #container{
        width:90%;
        border: 1px solid white;
        height:64px;
        float:left;
        margin-left:5%;
        margin-right: 5%;
        margin-top:2%;
    }
}
@media (min-width: 1440px) { 
    
    body{
    background: url("../images/bg_1900.jpg") no-repeat fixed center; 
    width:100%;
}
    #container{
        width:90%;
        border: 1px solid white;
        height:64px;
        float:left;
        margin-left:5%;
        margin-right: 5%;
        margin-top:2%;
    }
}