/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/02/2019, 16:09:40
    Author     : Jonathan
*/

*{
    margin:0px;
    padding:0px;
}
body{
    background: url("../images/bg_1366.jpg") no-repeat fixed center; 
    width:100%;
}


@media (min-width: 576px) { 
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    #container{
        width:90%;
        border: 1px solid white;
        height:64px;
        float:left;
        margin-left:5%;
        margin-right: 5%;
        margin-top:2%;
    }
}
@media (min-width: 1440px) { 

    body{
        background: url("../images/bg_1900.jpg") no-repeat fixed center; 
        width:100%;
    }
    #container{
        width:90%;
        height:50px;
        float:left;
        margin-left:5%;
        margin-right: 5%;
        margin-top:2%;
    }
    #nav{

        width:100%;
        border: 1px solid white;
        height:50px;
        float:left;
        background-color: blue;
    }




    .menu{
        list-style:none; 
        border:1px solid #c0c0c0; 
        float:left; 
    }

    .menu li{
        position:relative; 
        float:left; 
        border-right:1px solid #c0c0c0; 
    }


    .menu li a{color:#fff; text-decoration:none; padding:15px 80px; display:block;}

    .menu li a:hover{ /* efeito de seleção no submenu*/
        background:#333; 
        color:#fff; 
        -moz-box-shadow:0 3px 10px 0 #CCC; 
        -webkit-box-shadow:0 3px 10px 0 #ccc; 
        text-shadow:0px 0px 5px #fff; /* efeito de sombra nas letras dos botões */
    }

    .menu li  ul{ /*efeito de esconder o submenu*/
        position:absolute; /*alinha os botões do submenu*/
        top:25px; 
        left:0;
        background-color:#6fbbd3; /* Cor de fundo do submenu*/
        display:none /* oculta os botões*/
    }   

    .menu li:hover ul, .menu li.over ul{display:block;} /* efeito de aparecer o submenu*/

    .menu li ul li{/* controla largura e bordas do submenu */
        border:1px solid #c0c0c0; 
        display:block; 
        width:260px;
    }

    


}